.logo {
	text-align: center;
}

/* visibility set to visible 
in hidden don't work just like 
can be set from js*/
.offline{
	visibility:hidden;
	color: #f00;
	font-style: italic;
}

/* */
#map {
	width: 100%;
	height: 200px;
}

/* */
#noteimage {
	width: 200px;
	height: 200px;
	display: none;
}